.style_btn {
    width: 150px;
    color: #333;
    height: 40px;
    font-weight: bold;
    font-family: cursive;
    background: #1AB7EA;
    border: 1px solid #1AB7EA;
    border-radius: 5px;
    padding: 11px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 5px 5px 3px silver;

}

.style_btn:hover {
    width: 150px;
    height: 40px;
    color: azure;
    font-weight: bold;
    font-family: cursive;
    background: #333;
    border: none;
    border-radius: 8px;
    padding: 11px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 5px 10px 3px azure;
}