/* liScroll styles */

/* the outer div with the black border */
.tickercontainer {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 2px
}

/* that serves as a mask. so you get a sort of padding both left and right */
.tickercontainer .mask {
    position: relative;
    left: 10px;
    top: 8px;
    width: 100%;
    overflow: hidden
}

/* that's your list */
ul.newsticker {
    position: relative;
    left: 750px;
    font: bold 10px Verdana;
    list-style-type: none;
    margin: 0;
    padding: 0
}

/* important:display inline gives incorrect results when you check for elem's width */
ul.newsticker li {
    float: left;
    margin: 0;
    padding: 0
}

ul.newsticker a {
    white-space: nowrap;
    padding: 0;
    color: #f00;
    font: bold 10px Verdana;
    margin: 0 50px 0 0
}

ul.newsticker span {
    margin: 0 10px 0 0
}